@{
    var counter = 0;
}
<div class="radioGroupWrapper">
    @foreach (var type in GetTypeDefinitions())
    {
        counter++;
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="@(Name)_@counter" disabled="@(!type.Value)" name="@Name" @onclick="@(() => SelectedValue = type.Value ? GetDescription(type.Key) : SelectedValue)">
            <label class="custom-control-label @GetStyleForType(type.Value)" for="@(Name)_@counter">@(GetDescription(type.Key))</label>
        </div>
    }
</div>
