@inherits FormElement
@{
    var checkBoxNum = 0;
}
<WrapperFieldset IsValid="@IsValid">
    <Legend Text="@Label" TagText="@TagText" />
    <Hint Name="@Name" Text="@HintText" />
    <Error Text="@ErrorText" />
    @foreach (var key in _keys)
    {
        checkBoxNum++;
        <div class="input__group input__group--checkbox">
            <input name="@(Name)[]" type="checkbox" id="@Name-checkbox_@checkBoxNum" class="input__control input__control--checkbox @ElementSize" checked="@(Values.Contains(key))">
            <label class="input__label input__label--checkbox" for="@Name-checkbox_@checkBoxNum">@(Options[key])</label>
        </div>
    }
</WrapperFieldset>