@inherits FormElementBase
<div>@((MarkupString)_data.Label)</div>
<MatRadioGroup @bind-Value="@Value" TValue="string" Id="@_data.Name">
    @foreach (var key in _keys)
    {
        <MatRadioButton Value="@key" TValue="string" Disabled="@_data.IsDisabled">@((MarkupString)_data.Options[key])</MatRadioButton>
    }
</MatRadioGroup>
<FormElementHint Text="@_data.HintText" />
<Error><ValidationMessage For="@(() => _data.Value)" /></Error>