@inherits FormElementBase
@{
    var radioNum = 0;
}
<WrapperFieldset IsValid="@Data.IsValid">
    <Legend Text="@Data.Label" TagText="@Data.TagText" />
    <FormElementHint Name="@Data.Name" Text="@Data.HintText" />
    <Error Text="@Data.ErrorText" />
    <div class="@(_isHorizontalRadio ? "input__group-horizontal" : string.Empty)">
        @foreach (var key in _keys)
        {
            radioNum++;
            <div class="input__group input__group--radio">
                <input type="radio" name="@Data.Name" id="@Data.Name-radio_@radioNum" class="input__control input__control--radio @Data.ElementSize" checked="@(key.Equals(Data.Value))" @onclick="@(() => Value = key)" @onclick:preventDefault value="@key" />
                <label class="input__label input__label--radio" for="@Data.Name-radio_@radioNum">@((MarkupString)Data.Options[key])</label>
            </div>
        }
    </div>
</WrapperFieldset>