@page "/YamlContentEditor"
@attribute [Authorize]
<div id="splitcontainer" class="clear-fix row no-gutters" style="background-color: black;">
    <div id="left-half" class="left-half_contenteditor wrapperOccupy">
        <MatTextField @bind-Value="Name" Label="Naam" Raised="true" /><MatButton @onclick="Save" Raised="true">Opslaan</MatButton>
        <YamlEditor @ref="ValidationController.YamlEditor" Id="monacoEditor" OnKeyUp="@(ValidationController.StartSubmitCountdown)" CssClass="editor" />
    </div>
    <div id="right-half" class="right-half_contenteditor wrapper">
        <div class="submit">
            <MatH5>Selecteer het type Yaml</MatH5>
            <div class="radioGroupWrapper">
                <MatRadioGroup @bind-Value="@(ValidationController.TypeOfContent)" TValue="string">
                    @{
                        foreach (var type in ValidationController.Types.Keys)
                        {
                            <div class="yamltypeWrapper">
                                <MatRadioButton Value="@(type)" Disabled="@(!ValidationController.GetEnabledForType(type))" TValue="string"><span class="@(GetStyleForType(type))">@type</span></MatRadioButton>
                            </div>
                        }
                    }
                </MatRadioGroup>
            </div>
            <MatButton @onclick="ValidationController.SubmitPage" Raised="true">Check inhoud</MatButton>
            <MatH5>Opgeslagen Yamls</MatH5>
            @foreach(var yamlFileInfo in YamlFileInfos)
            {
                <div>@yamlFileInfo.Name</div>
            }
        </div>
    </div>
</div>