@inherits MenuHoldingPage
@page "/YamlContentEditor"
@attribute [Authorize]
<div id="splitcontainer" class="clear-fix row no-gutters splitter-content-editor">
    <div id="left-half_contenteditor" style="display: flex; flex-direction: column;">

        @if (EditorTabController.EditorTabInfos.Any())
        {
            <ul class="nav nav-tabs">
                @foreach (var editorTabInfo in EditorTabController.EditorTabInfos)
                {
                    <li class="nav-item" @key="@editorTabInfo.Key">
                        <a class="nav-link@(editorTabInfo.Value.IsActive ? " active" : string.Empty)" data-toggle="tab" href="#@editorTabInfo.Value.TabName" @onclick="(e => SwitchToTab(editorTabInfo.Key))">@((MarkupString)editorTabInfo.Value.DisplayName)</a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var editorTabInfo in EditorTabController.EditorTabInfos)
                {
                    <div @key="@editorTabInfo.Value.TabName" id="@editorTabInfo.Value.TabName" class="tab-pane @(editorTabInfo.Value.IsActive ? " active" : string.Empty)">

                        <div class="left-half_header sm-12">
                            <div>Naam: <strong>@editorTabInfo.Value.Name</strong></div>
                            <div>Type: <strong>@editorTabInfo.Value.Type</strong></div>
                        </div>
                        <div class="left-half_bottom">
                            <YamlEditor @ref="editorTabInfo.Value.YamlEditor" Id="@(editorTabInfo.Value.EditorId)" Value="@editorTabInfo.Value.Content" OnKeyUp="@(e => StartSubmitCountdown(editorTabInfo.Key))" CssClass="editor" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div id="right-half_contenteditor">
        <div class="submit">
            <Table Grid="YamFileInfoGrid" />
        </div>
    </div>
</div>
<Modal Id="newYamlModal" Cancel="Annuleren" Ok="Ok" OnOk="AddNewYaml" Title="Selecteer het type Yaml document voor het nieuwe document.">
    <YamlTypeSelector @ref="_yamlTypeSelector" Name="ValidateRuleType" />
</Modal>
<Modal Id="saveAsYamlModal" Cancel="Annuleren" Ok="Opslaan" OnOk="SaveAsYaml" Title="Bestand opslaan">
    Vul de naam in van het document
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Naam</span>
        </div>
        <input type="text" class="form-control" aria-label="Naam" aria-describedby="Naam" @bind="SaveAsName">
    </div>
</Modal>

