@inherits MenuHoldingPage
@page "/YamlContentEditor"
@attribute [Authorize]
<div id="splitcontainer" class="clear-fix row no-gutters splitter-content-editor">
    <div id="left-half_contenteditor" style="display: flex; flex-direction: column;">

        @if (ShowTabs)
        {
            <ul class="nav nav-tabs">
                @foreach (var key in keysVisibleTabs)
                {
                    var editorTabInfo = EditorTabController.EditorTabInfos[key];

                    <li class="nav-item" @key="@key">
                        <a class="nav-link@(editorTabInfo.IsActive ? " active" : string.Empty)" data-toggle="tab" href="#@editorTabInfo.TabName" @onclick="(() => SwitchToTab(key))">
                            @if (key != keysVisibleTabs.First()) //do not show left if it is the first tab
                            {
                                <i class="fa fa-chevron-left fa-small" @onclick="(() => MoveTabLeft(key))" @onclick:stopPropagation></i>
                            }
                            @((MarkupString)editorTabInfo.DisplayName)
                            @if (key != keysVisibleTabs.Last()) //do not show right if it is the last tab
                            {
                                <i class="fa fa-chevron-right fa-small" @onclick="(() => MoveTabRight(key))" @onclick:stopPropagation></i>
                            }
                            <i class="fa fa-window-close" @onclick="(() => CloseTab(key))" @onclick:stopPropagation></i>
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var key in keysAllTabs) //do this for all keys so the content is not removed/rendered again
                {
                    var editorTabInfo = EditorTabController.EditorTabInfos[key];

                    <div @key="@editorTabInfo.TabName" id="@editorTabInfo.TabName" class="tab-pane @(editorTabInfo.IsActive ? " active" : string.Empty)">

                        <div class="left-half_header sm-12">
                            <div class="editorErrorGlyphWrapper @(editorTabInfo.HasErrors ? "on" : "off")"><i class="editorErrorGlyph fa fa-exclamation-circle"></i></div>
                            <div>Naam: <strong>@editorTabInfo.Name</strong></div>
                            <div>Type: <strong>@editorTabInfo.Type</strong></div>
                        </div>
                        <div class="left-half_bottom">
                            <YamlEditor @ref="editorTabInfo.YamlEditor" Id="@(editorTabInfo.EditorId)" Value="@editorTabInfo.Content" OnKeyUp="@(e => ContentModification(key))" CssClass="editor" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div id="right-half_contenteditor">
        <div class="submit">
            <Table Grid="YamFileInfoGrid" />
        </div>
    </div>
</div>
<Modal Id="newYamlModal" Cancel="Annuleren" Ok="Ok" OnOk="AddNewTab" Title="Selecteer het type Yaml document voor het nieuwe document.">
    <YamlTypeSelector @ref="_yamlTypeSelector" Name="ValidateRuleType" />
</Modal>
<Modal Id="saveAsYamlModal" Cancel="Annuleren" Ok="Opslaan" OnOk="SaveAsYaml" Title="Bestand opslaan">
    Vul de naam in van het document
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Naam</span>
        </div>
        <input type="text" class="form-control" aria-label="Naam" aria-describedby="Naam" @bind="SaveAsName">
    </div>
</Modal>

