<div class="container">
{{#radios}}
    <div class="radio">
        <input id="{{id}}" name="{{name}}" type="radio" {{disabled}} {{checked}}  >
        <label for="{{id}}" class="radio-label">{{child_content}}</label>
    </div>
{{/radios}}
</div>
