@inherits FormElement
<WrapperDefault IsValid="@IsValid">
    <Label Name="@Name" Text="@Label" TagText="@TagText" />
    <FormElementHint Name="@Name" Text="@HintText" />
    <Error Text="@ErrorText" />
    <div class="input__control-group">
        <div>
            <label class="input__hint" for="@Name-address_postal_code">@Labels.ElementAtOrDefault(0).Text</label>
            <input required="@IsRequired" disabled="@IsDisabled" aria-label="@Labels.ElementAtOrDefault(0).Title" title="@Labels.ElementAtOrDefault(0).Title" type="text" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="@Name-address_postal_code" class="input__control input__control--six-characters input__control--text" value="@Values.ElementAtOrDefault(0)">
        </div>
        <div>
            <label class="input__hint" for="@Name-address_number">@Labels.ElementAtOrDefault(1).Text</label>
            <input required="@IsRequired" disabled="@IsDisabled" aria-label="@Labels.ElementAtOrDefault(1).Title" title="@Labels.ElementAtOrDefault(1).Title" type="number" minlength="1" maxlength="5" id="@Name-address_number" class="input__control input__control--five-characters input__control--text" value="@Values.ElementAtOrDefault(1)">
        </div>
        <div>
            <span class="input__hint" for="@Name-address_number-addition">@Labels.ElementAtOrDefault(2).Text</span>
            <input required="@IsRequired" disabled="@IsDisabled" aria-label="@Labels.ElementAtOrDefault(2).Title" title="@Labels.ElementAtOrDefault(2).Title" type="text" maxlength="5" id="@Name-address_number-addition" class="input__control input__control--five-characters input__control--text" value="@Values.ElementAtOrDefault(2)">
        </div>
    </div>
</WrapperDefault>