@page "/"
@page "/proefberekening/"
@using Vs.VoorzieningenEnRegelingen.Core
@{ 
    foreach (var item in _contentController._parameters)
    {
        <span>@item.Name - @item.ValueAsString</span>
    }
}
<SpacingWrapper>
    <CalculationHeader Title="@_pageTitle"
                       SubTitle="@_pageSubTitle"
                       Number=@_displayQuestionNumber
                       Subject="@_textSummary" />
    @if (!string.IsNullOrWhiteSpace(_textTitle) || !string.IsNullOrWhiteSpace(_textDescription))
    {
        <Hint Title="@_textTitle" Content="@_textDescription" />
    }

    <EditForm Model="_formElement">
        <CascadingValue Value="_formElement.Data">
            @if (_hasRights && _formElement.ShowElement)
            {
                @switch (_formElement.Data.InferedType)
                {
                    case TypeInference.InferenceResult.TypeEnum.Double:
                        <Number />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.TimeSpan:
                        <DateRange />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.DateTime:
                        <Date />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.String:
                        <text />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.Boolean:
                        <Radio />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.List:
                        <Select />
                        break;
                }
            }
            <Pagination PreviousDisabled="@(!_showPreviousButton)" Previous="GetPreviousStep" PreviousText="Vorige"
                        NextDisabled="@(!_showNextButton)" Next="GetNextStep" NextText="Volgende"
                        ScreenreaderDescription="pagina" />
        </CascadingValue>
    </EditForm>
</SpacingWrapper>
