@page "/"
@page "/proefberekening"
@using Vs.VoorzieningenEnRegelingen.Core
<SpacingWrapper>
    <CalculationHeader Title="Zorgtoeslag"
                       SubTitle="Proefberekening"
                       Number=@_displayQuestionNumber
                       Subject="@_textSummary" />
    @if (!string.IsNullOrWhiteSpace(_textTitle) || !string.IsNullOrWhiteSpace(_textDescription))
    {
        <Hint Title="@_textTitle" Content="@_textDescription" />
    }

    <EditForm Model="_formElement">
        <CascadingValue Value="_formElement.Data">
            @if (_hasRights && _formElement.ShowElement)
            {
                @switch (_formElement.Data.InferedType)
                {
                    case TypeInference.InferenceResult.TypeEnum.Double:
                        <Number />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.TimeSpan:
                        break;
                    case TypeInference.InferenceResult.TypeEnum.DateTime:
                        break;
                    case TypeInference.InferenceResult.TypeEnum.String:
                        break;
                    case TypeInference.InferenceResult.TypeEnum.Boolean:
                        <Radio />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.List:
                        <Select />
                        break;
                }
            }

            @*@if (_result != null)
                {
                    //This is the end. My only friend                                 , the end.
                    <h3>@((MarkupString)_result)</h3>
                }
                @if (!_hasRights)
                {
                    <p>De berekening is afgelopen. U kunt eventueel naar een vorige pagina gaan om een antwoord aan te passen.</p>
                }*@
            <Pagination PreviousDisabled="@(!_showPreviousButton)" Previous="GetPreviousStep" PreviousText="Vorige"
                        NextDisabled="@(!_showNextButton)" Next="GetNextStep" NextText="Volgende"
                        ScreenreaderDescription="pagina" />
        </CascadingValue>
    </EditForm>
</SpacingWrapper>
