@page "/proefberekening"
@using Vs.VoorzieningenEnRegelingen.Core
@*<Header Text="Virtual Society" Title="Virtual Society Calculation" LinkScreenReaderDescription="naar de homepage" />*@

@*<TitleBar Title="Bereken uw zorgtoeslag" />

    <Collapsable Name="Timeline">
            <Title>
                @if (_displayQuestionNumber > 0)
                {
                    <Badge Number=@_displayQuestionNumber />
                }
                @((MarkupString)_displayQuestion)
            </Title>
            <CollapsableContent>
                <h2><strong>@((MarkupString)_displayQuestionTitle)</strong></h2>
                <p>@((MarkupString)_displayQuestionDescription)</p>
            </CollapsableContent>
        </Collapsable>*@

<SpacingWrapper>
    <h1><strong>Zorgtoeslag</strong></h1>
    <h2>Proefberekening</h2>

    <h3>
        @if (_displayQuestionNumber > 0)
        {
            <Badge Number=@_displayQuestionNumber />
        }
        <strong>
            @((MarkupString)_displayQuestion)
        </strong>
    </h3>

    <aside class="hint">
        <h4 class="hint__title">@((MarkupString)_displayQuestionTitle)</h4>
        @((MarkupString)_displayQuestionDescription)
    </aside>


    <EditForm Model="_formElement">
        @if (_hasRights && _formElement.ShowElement)
        {
            @switch (_formElement.InferedType)
            {
                case TypeInference.InferenceResult.TypeEnum.Double:
                    <Number Name="@_formElement.Name"
                            Label="@_formElement.Label"
                            @bind-Value="_formElement.Value"
                            Size="@FormElementSize.Large"
                            TagText="@_formElement.TagText"
                            HintText="@_formElement.HintText"
                            IsValid="_formElement.IsValid"
                            ErrorText="@_formElement.ErrorText"
                            Decimals="2"
                            DecimalsOptional=true />

                    break;
                case TypeInference.InferenceResult.TypeEnum.TimeSpan:
                    break;
                case TypeInference.InferenceResult.TypeEnum.DateTime:
                    break;
                case TypeInference.InferenceResult.TypeEnum.String:
                    break;
                case TypeInference.InferenceResult.TypeEnum.Boolean:
                    <Radio Name="@_formElement.Name"
                           Label="@_formElement.Label"
                           @bind-Value="_formElement.Value"
                           Size="@FormElementSize.Large"
                           Options="@_formElement.Options"
                           TagText="@_formElement.TagText"
                           HintText="@_formElement.HintText"
                           IsValid="@_formElement.IsValid"
                           ErrorText="@_formElement.ErrorText" />
                    break;
                case TypeInference.InferenceResult.TypeEnum.List:
                    {
                        <Select Name="@_formElement.Name"
                                Label="@_formElement.Label"
                                @bind-Value="_formElement.Value"
                                Size="@FormElementSize.Large"
                                Options="@_formElement.Options"
                                TagText="@_formElement.TagText"
                                HintText="@_formElement.HintText"
                                IsValid="@_formElement.IsValid"
                                ErrorText="@_formElement.ErrorText" />
                    }
                    break;
            }
        }

        @if (_result != null)
        {
            //This is the end. My only friend, the end.
            <h3>@((MarkupString)_result)</h3>
        }
        @if (!_hasRights)
        {
            <p>De berekening is afgelopen. U kunt eventueel naar een vorige pagina gaan om een antwoord aan te passen.</p>
        }
        <Pagination PreviousDisabled="@(_showPreviousButton)" Previous="GetPreviousStep" PreviousText="Vorige"
                    NextDisabled="@(_showNextButton)" Next="@GetNextStep" NextText="Volgende"
                    ScreenreaderDescription="pagina" />
    </EditForm>
</SpacingWrapper>
