@page "/"
@page "/proefberekening/"
@using Vs.Rules.Core
<CalculationHeader Title="@PageTitle"
                   SubTitle="@PageSubTitle"
                   Number=@DisplayQuestionNumber
                   Subject="@TextSummary" />
<NldsHint Title="@TextTitle">@((MarkupString)TextDescription)</NldsHint>
@if (ShowForm)
{
    <EditForm Model="_formElement.Data">
        <DataAnnotationsValidator />
        <CascadingValue Value="_formElement.Data">
            @if (HasRights && _formElement.ShowElement)
            {
                @switch (_formElement.Data.InferedType)
                {
                    case TypeInference.InferenceResult.TypeEnum.Double:
                        <Number />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.Boolean:
                        <Radio />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.List:
                        <Select />
                        break;
                    case TypeInference.InferenceResult.TypeEnum.String:
                        <Text />
                        break;
                    default:
                        break;
                }
            }
        </CascadingValue>
    </EditForm>
}

<NldsPagination OnPrevious="@(ShowPreviousButton ? GetPreviousStep : default(Action))"
                PreviousText="Vorige"
                OnNext="@(ShowNextButton ? GetNextStep : default(Action))"
                NextText="Volgende" />

<NldsBottomBar ScreenReaderText="Disclaimer">
    <NldsNotification Title="Disclaimer" CloseButtonText="Sluit">
        <p>
            Door deze website te bezoeken en/of de op of via deze website aangeboden informatie te gebruiken, verklaart u zich akkoord met de toepasselijkheid van deze disclaimer.<br />
            Deze website is een innovatieve technologisch experiment. Er kunnen geen rechten aan de informatie op deze website worden ontleend.<br />
            De informatie is niet beoordeeld op juistheid, redelijkheid, actualiteit of volledigheid.
        </p>
    </NldsNotification>
</NldsBottomBar>
