@switch (Type)
{
    case FormElementType.Checkbox:
    case FormElementType.Radio:
        <fieldset class="input @(!IsValid ? "input--invalid" : "")">
            <legend class="input__legend">
                @Label
                @if (_showTag)
                {
                    <span class="label label--optional">@TagText</span>
                }
            </legend>
            <FormElementInner Name=@Name
                              Label=@Label
                              Labels=@Labels
                              Value=@Value
                              Values=@Values
                              Type=@Type
                              Options=@Options
                              ButtonIcon=@ButtonIcon
                              ButtonText=@ButtonText
                              Size=@Size
                              TagText=@TagText
                              HintText=@HintText
                              HintTextList=@HintTextList
                              ErrorText=@ErrorText
                              IsDisabled=@IsDisabled
                              IsRequired=@IsRequired
                              IsValid=@IsValid />
        </fieldset>
        break;
    default:
        <div class="input @(!IsValid ? "input--invalid" : "")">
            <label class="input__label" for="@Name">
                @Label
                @if (_showTag)
                {
                    <span class="label label--optional">@TagText</span>
                }
            </label>
            <FormElementInner Name=@Name
                              Label=@Label
                              Labels=@Labels
                              Value=@Value
                              Values=@Values
                              Type=@Type
                              Options=@Options
                              ButtonIcon=@ButtonIcon
                              ButtonText=@ButtonText
                              Size=@Size
                              TagText=@TagText
                              HintText=@HintText
                              HintTextList=@HintTextList
                              ErrorText=@ErrorText
                              IsDisabled=@IsDisabled
                              IsRequired=@IsRequired
                              IsValid=@IsValid />

        </div>
        break;
}
