<nav aria-label="pagination">
    <ul class="pagination pagination--dots">
        <li class="pagination__item pagination__item--previous"><a href="@Previous" class="pagination__link"><span class="pagination__link--previous">@PreviousText</span><span class="screenreader-only">@ScreenreaderDescription</span></a></li>
        <li class="pagination__item pagination__item--next"><a href="@Next" class="pagination__link"><span class="pagination__link--previous">@NextText</span><span class="screenreader-only">@ScreenreaderDescription</span></a></li>
    </ul>
</nav>