@page "/"
<section>
    <div class="loader">
        <p>
            Laad de code code vanuit een url of plak deze direct in de editor.
        </p>
        <p>
            <MatTextField @bind-Value="Url" Label="Url" />
            <div class="buttonwrapper">
                <MatButton Raised="true" @onclick="LoadUrl">Laden</MatButton>
            </div>
        </p>
    </div>
    <div class="content">
        <YamlEditor @ref="ValidationController.YamlEditor" Id="monacoEditor" OnKeyUp="ValidationController.StartSubmitCountdown" CssClass="editor" />
    </div>
    <div class="submit">
        <p>Selecteer het type Yaml</p>
        <p>
            <MatRadioGroup @bind-Value="@(ValidationController.TypeOfContent)" TValue="string">
                @{
                    foreach (var type in ValidationController.Types.Keys)
                    {
                        <MatRadioButton Value="@GetDescription(type)" Disabled="@(!ValidationController.GetEnabledForType(type))" TValue="string"><span class="@(GetStyleForType(type))">@type</span></MatRadioButton>
                    }
                }
            </MatRadioGroup>
            <div class="buttonwrapper">
                <MatButton @onclick="ValidationController.SubmitPage" Raised="true">Check inhoud</MatButton>
            </div>
        </p>
    </div>
</section>