@inherits FormElementBase
@* MatNumericUpDownField
    MatNumericUpDownField Doesn't work the same in firefox as for google and in google it is a nightmare
     That is that Chrome will allow a . or a , depending on the culture of the INSTALLED VERSION of the browser.
     i.e. if you use an English browser in a Dutch culture it will not allow , but only .
     This is why it is better to implement number logic ourselves rather then use a numeric field*@
<NldsInput Type="InputType.Text"
           @bind-Value="@Value"
           Identifier="@_data.Name"
           IsDisabled="@_data.IsDisabled"
           Size="InputSize.Medium"
           ErrorText="@_data.ErrorText">
    <Label>
        <NldsFormLabel>
            @HttpUtility.HtmlDecode(_data.Label)
        </NldsFormLabel>
    </Label>
    <Hint>
        <NldsFormHint>
            @HttpUtility.HtmlDecode(_data.HintText)
        </NldsFormHint>
    </Hint>
</NldsInput>
