@inherits Vs.CitizenPortal.DataModel.Model.FormElementBase
<NldsInput Type="InputType.Text"
           @bind-Value="@Value"
           Identifier="@_data.Name"
           IsDisabled="@_data.IsDisabled"
           Size="@InputSize"
           ErrorText="@_data.ErrorText">
    <Label>
        <NldsFormLabel>
            @HttpUtility.HtmlDecode(_data.Label)
        </NldsFormLabel>
    </Label>
    <Hint>
        <NldsFormHint>
            @HttpUtility.HtmlDecode(_data.HintText)
        </NldsFormHint>
    </Hint>
</NldsInput>