@page "/FormContentEditor"
@attribute [Authorize]
<!-- Main content -->
<div id="splitcontainer" class="clear-fix row no-gutters" style="background-color: black;">
    <div id="left-half" class="left-half_tree">
        <YamlEditor @ref="ValidationController.YamlEditor" Id="monacoEditor" OnKeyUp="@(ValidationController.StartSubmitCountdown)" CssClass="editor" />
    </div>
    <div id="right-half" class="right-half_tree">
        <div class="submit">
            <p>Selecteer het type Yaml</p>
            <p>
                <MatRadioGroup @bind-Value="@(ValidationController.TypeOfContent)" TValue="string">
                    @{
                        foreach (var type in ValidationController.Types.Keys)
                        {
                            <MatRadioButton Value="@(type)" Disabled="@(!ValidationController.GetEnabledForType(type))" TValue="string"><span class="@(GetStyleForType(type))">@type</span></MatRadioButton>
                        }
                    }
                </MatRadioGroup>
                <div class="buttonwrapper">
                    <MatButton @onclick="ValidationController.SubmitPage" Raised="true">Check inhoud</MatButton>
                </div>
            </p>
        </div>
    </div>
</div>
<!-- /.content -->